<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Verse Surf Back-Office</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="playlists">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Playlists
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobs/StartImportSpotifyJob">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Start Import Spotify
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobs/StartGSPathChangeJob">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Start GSPathChange
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobs/StartGSCleanupJob">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Start GSCleanup
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobs/StartGeneratePlayedSongsReportJob">
                <span class="oi oi-play-circle" aria-hidden="true"></span>Payed Songs Report
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="musicserver/SendNotification">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Send Notifications
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Jobs
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}