@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .main-container{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    body{
        font-size: 0.8rem;
    }

    h5{
        font-size: 1rem;
    }
</style>
<h3>@ViewData["Title"]</h3>
<h5 lang="en" id="calibre_link-1">Introductory provisions</h5>
<p lang="en">SHOPSOFT, (hereinafter "Verse Surf", “we” or “us”) is a company that treats all the matters related to personal data with utter respect and integrity. Our full commitment to safeguarding your privacy, and the privacy of our platform and Game, represents a particularly high priority for our company. </p>
<p lang="en">We hereby state that we have taken all the necessary technical steps and measures to provide you with the highest security available, so you can have a clear and informed experience, throughout your interactions with our platform and Game and services.</p>
<p lang="en">As a Visitor or a User, you hereby agree and accept that the use of our platform and Game is not possible without any indication of certain types personal data.</p>
<h5 lang="en" id="calibre_link-2">Definitions</h5>
<p lang="en">In this section we explain what terms will be used, inter alia, within the document:</p>
<ul>
    <li><b lang="en">Personal Data</b><span lang="en"> &ndash; means any type of information about a physical person, whose particularities can lead to its identification, directly or indirectly. Examples: name, address, any identification number, political orientation, sexual orientation, email address, location information, IP address, cookie information, etc.</span></li>
    <li><b lang="en">Data Subject </b><span lang="en">- means any identified or identifiable natural person, whose personal data is collected and processed by us.</span></li>
    <li><b lang="en">Processing</b><span lang="en"> - means an operation performed on personal data. Examples: collection, encryption, structuring, recording, organization, storage, etc. </span></li>
    <li><b lang="en">Restriction of processing</b><span lang="en"> - is the marking of stored personal data with the aim of limiting their processing in the future. </span></li>
    <li><b lang="en">Profiling</b><span lang="en"> - means any form of automated processing of personal data consisting of the use of personal data to evaluate certain personal aspects relating to a natural person.</span></li>
    <li><b lang="en">Data Controller </b><span lang="en">- is the natural or legal person, public authority, agency or other body, which determines the purposes and means of the processing of personal data;</span></li>
    <li><b lang="en">Processor</b><span lang="en"> - means a natural or legal person, public authority, agency or other body which processes personal data on behalf of the controller. </span></li>
    <li><b lang="en">Recipient</b><span lang="en"> - means a natural or a legal person, be they public authority, a company, an agency or another body, to which the personal data are disclosed. </span></li>
    <li><b lang="en">Third party</b><span lang="en"> - means a natural or legal person, public authority, agency or body other than the ones above, who, under the direct authority of the controller or processor, are authorized to process personal data.</span></li>
    <li><b lang="en">Consent</b><span lang="en"> &ndash; means any informed, specific, unambiguous and freely given indication of acceptance to the processing of personal data.</span></li>
</ul>
<h5 lang="en" id="calibre_link-3">Compliance</h5>
<p lang="en">The processing of personal data will be in line with these main international legislations:</p>
<ul>
    <li><span lang="en">General Data Protection Regulation (GDPR), applicable in Europe;</span></li>
    <li><span lang="en">California Consumer Privacy Act (2018) and Privacy Act U.S.C. 552a (Privacy Act of USA); </span></li>
</ul>
<h5 lang="en" id="calibre_link-4">By this Privacy Policy we clearly explain:</h5>
<div>
    <div>1)&nbsp;<span lang="en">What Personal Data we collect and why we collect it;</span></div>
    <div>2)&nbsp;<span lang="en">How we use Personal Data;</span></div>
    <div>3)&nbsp;<span lang="en">Who we share Personal Data with; </span></div>
    <div>4)&nbsp;<span lang="en">The choices we offer, including how to access, update, and remove Personal Data;</span></div>
</div>
<p lang="en">Verse Surf collects, stores, uses and discloses certain information when the visitors use our platform and Game. As a data controller and data processor, we have undertaken to implement a series of technical, structural and organizational measures in order to ensure the best protection of personal data processed through our platform and Game. </p>
<p lang="en">Our platform and Game incorporate the necessary and applicable set of privacy controls which determine the way we will process your personal data. </p>
<p lang="en">In your relationship with us through the platform and Game, controller, for the purposes of the General Data Protection Regulation (GDPR), other data protection laws applicable in Member states of the European Union and other provisions related to data protection, is:</p>
<p><b lang="en">SHOPSOFT SRL, </b><span lang="en">with its principal office at Miroslava, 15 C Padurii str., Iasi, IS, Romania</span></p>
<p lang="en">This Policy does not apply to other companies’ or organizations’ platforms and Games to which we may link to or may link to us. You should carefully review the privacy policies of those sites in order to determine how they treat your personal information.</p>
<p lang="en">In case you do not agree to our Privacy Policy, you will be requested to exit, and to not access our platform and Game and/or use our services.</p>
<p lang="en">Your privacy is really important to us, so whether you’re new to Verse Surf or a long-time user, please take the time to get to know our practices.</p>
<h5 lang="en" id="calibre_link-5">Use Cases</h5>
<p lang="en">This section presents the use case(s) set out in this Privacy Policy which will apply to you:</p>
<ul>
    <li><b lang="en">Visitor</b></li>
</ul>
<p lang="en">You are a “Website Visitor” every time you visit our platform and Game https://verse.surf/. We use your information for our own statistical purposes, primarily with the purpose of improving the visitor experience and thus to be able to provide you with more relevant content.</p>
<ul>
    <li><b lang="en">User</b></li>
</ul>
<p lang="en">You become a “User” when you create an account on our platform and Game, either directly or through third-party partners. The purpose of the account registration is to download the game and play. In case you are a User, our primary purpose is providing the Game and its complementary services to you. </p>
<p><span lang="en">We use Unity ® for the game development. Their applicable Privacy Policy can be found following this link:</span><span> </span><a lang="en" href="https://unity3d.com/legal/privacy-policy">https://unity3d.com/legal/privacy-policy</a><span lang="en">.</span></p>
<p><span lang="en">We also use Microsoft’s Azure PlayFab for account and user management services. Their applicable Privacy Policy can be found following this link: </span><a lang="en" href="https://privacy.microsoft.com/en-us/privacystatement">https://privacy.microsoft.com/en-us/privacystatement</a><span lang="en">.</span></p>
<p lang="en">We also use Steam, XBOX, Android TV, and other third-party intermediaries to make available the platform and Game to you. Please note that all these partners have Data Processing Agreements that are applicable to you, so we kindly recommend to do your own due diligence. </p>
<h5 lang="en" id="calibre_link-6">Types of Personal Data We Collect</h5>
<div>
    <div>a)&nbsp;<b lang="en">Personal Information</b></div>
</div>
<p lang="en">Upon registering of an Account through our third-party partners, you may be requested to voluntarily provide certain pieces of personal information. Personal information may include (but is not limited to) the following categories of information: first and last name, physical address, gender, contact number, email or other contact information we may deem necessary. You are requested to not supply any other person's personal data to us.</p>
<div>
    <div>b)&nbsp;<b lang="en">Non-Personal Information</b></div>
</div>
<p lang="en">As previously stated, we may collect and track statistical information about your visits on our platform and Game, about your behavior on the platform and Game, including the domain name and the name of the web page from which you have accessed our platform and Game, the time spent on the Game, the IP address, operating system and platform, and other relevant statistics. If you send Verse Surf a message, it can be stored and processed in order to compile statistical information, to improve our services and support, or to get in touch with you.</p>
<p><span lang="en">Upon acquisition of our services (in-app purchases), we or our partners will ask you to provide secure payment data, which will be used for processing the orders. We do not collect and store the payment data, such data being collected and processed exclusively by the payment processor. </span><span lang="en">Under the circumstances, we have no way of storing credit/debit cards details, and we have no way of selling, sharing, renting or leasing such data to any third parties. However, we cannot guarantee the security of any information that is disclosed online</span></p>
<h5 lang="en" id="calibre_link-7">Purpose of collection</h5>
<p lang="en">To fulfill our commercial purpose.</p>
<p lang="en">Our commercial purpose is provision of gaming experiences and personal development, and the new rules of personal data protection (GDPR, CCPA, etc.) are part of this context.</p>
<p lang="en">To improve our services.</p>
<p lang="en">As previously stated, statistical data helps us improve our services and your experience with us. So, because we want to offer you the best online experience, we collect and use certain information about your behavior and preferences when using the platform and Game.</p>
<p lang="en">To improve your marketing activity</p>
<p lang="en">In case you opted for our eventual Newsletter, we want to keep you informed about the best offers for the products you may be interested in. With this purpose in mind, we may send you any type of message (such as: email / SMS / phone / mobile push / web push / etc.) containing general and thematic information about products or services, information on offers or promotions, as well as other commercial communications.</p>
<p lang="en">To defend our legitimate interests</p>
<p lang="en">Our legitimate interest may include:</p>
<ul>
    <li><span lang="en">measures to protect the platform and Game and platform Visitors and Users against cyber-attacks;</span></li>
    <li><span lang="en">measures to prevent and detect fraud attempts;</span></li>
    <li><span lang="en">transmission of information to the competent public authorities;</span></li>
    <li><span lang="en">other risk management measures.</span></li>
</ul>
<p lang="en">We therefore commit ourselves:</p>
<ul>
    <li><span lang="en">to protect the privacy of your data, which is a top priority for our company’s management;</span></li>
    <li><span lang="en">to use this data for the sole purpose of providing you with a personalized experience on our platform and Game as well as on the online platforms that we promote our products and services (Facebook and Google, etc.).</span></li>
</ul>
<h5 lang="en" id="calibre_link-8">“Automatically Collected" Information: </h5>
<p lang="en">We are collecting a series of general data by automated means. This general data is stored in our server log files.</p>
<p lang="en">Collected may be: </p>
<ul>
    <li><span lang="en">the ISP, </span></li>
    <li><span lang="en">the operating system used by the accessing system</span></li>
    <li><span lang="en">the platform and Game from which an accessing system reaches our platform and Game (so-called referrers)</span></li>
    <li><span lang="en">the sub-platform and Game</span></li>
    <li><span lang="en">the date and time of access to the platform and Game </span></li>
    <li><span lang="en">an Internet Protocol address (IP address)</span></li>
    <li><span lang="en">screen Resolution</span></li>
    <li><span lang="en">locale Preferences</span></li>
    <li><span lang="en">web page visited before you came to our platform and Game</span></li>
    <li><span lang="en">information you search for on our platform and Game</span></li>
    <li><span lang="en">date and time stamps associated with transactions</span></li>
    <li><span lang="en">system configuration information and other interactions with the platform and Game. </span></li>
    <li><span lang="en">social networking information (if we are provided with access to your account on social network connection services);</span></li>
    <li><span lang="en">any other similar data and information that may be used in the event of attacks on our information technology systems. </span></li>
</ul>
<p lang="en">When using this data, we are not able to not draw any conclusions about you in person, or to identify you with certainty. We rather use this information to correctly deliver the content of our platform and Game, to optimize the content, to ensure the long-term viability of our information, and last but not least to protect ourselves against data breaches and to provide law enforcement authorities with the information necessary for criminal prosecution in case of cyber-attacks;</p>
<h5 lang="en" id="calibre_link-9">Data Retention and Data Deletion</h5>
<p lang="en">We retain the personal data collected for clearly stated periods, as follows:</p>
<ul>
    <li><span lang="en"><span>for as long as the Accounts are active;  </span></span></li>
    <li><span lang="en">for as long as the email address is active on our mailing list; </span></li>
    <li><span lang="en">otherwise for a limited period of time, the retention term being based on the 2-year criteria after your last interaction with us, or after your relationship with us is ended by either of the parties.</span></li>
</ul>
<h5 lang="en" id="calibre_link-10">Server Locations</h5>
<p lang="en">All Personal Data that is collected through the use of the platform and Game is stored on secure servers within the European Union and/or the United States of America, depending on the location of the User.</p>
<h5 lang="en" id="calibre_link-11">Use and Disclosure of Personal Data to Others</h5>
<p lang="en">We do not rent or sell your information to third parties outside of Verse Surf without your consent. We may share your information, be it personal or non-personal, with third-party organizations that help us provide you with the services, but only as far as is reasonably necessary.</p>
<p><span lang="en">Compliance with Laws and Law Enforcement Requests: We may disclose to parties outside Verse Surf, files stored in our database and personal data about you that we collect when we have a good faith belief that disclosure is reasonably necessary to </span><b lang="en">(a) </b><span lang="en">comply with a law, regulation or compulsory legal request; or </span><b lang="en">(b)</b><span lang="en"> to protect Verse Surf’s intellectual property rights. If we provide your files to a law enforcement agency as set forth above, we will remove Verse Surf’s encryption from the files before providing them to law enforcement.</span></p>
<p lang="en">In the situation in which we are involved in a merger, an acquisition, or even a sale of all or a portion of our assets, your personal data may be transferred as part of that transaction. Under such circumstances, we will make sure we will notify you of any change in control or use of your personal data. </p>
<p lang="en">In addition, we may access and share your information with the authorities, if we deem in good faith that this is necessary to: detect and prevent frauds, scams and other illegal activities. This is to protect ourselves, you and other people.</p>
<h5 lang="en" id="calibre_link-12">Behavioral advertising</h5>
<p lang="en"><span>We may provide you with targeted advertisements or marketing communications that may be of interest to you.  For more information about how targeted advertising works, you can visit the Network Advertising Initiative’s (“NAI”) educational page at http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.</span></p>
<p lang="en">You can always opt out of targeted advertising by visiting the following links:</p>
<p><span lang="en"><span>    </span></span><span lang="en">FACEBOOK - https://www.facebook.com/settings/?tab=ads</span></p>
<p><span lang="en"><span>    </span></span><span lang="en">GOOGLE - https://www.google.com/settings/ads/anonymous</span></p>
<p><span lang="en"><span>    </span></span><span lang="en">BING - https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads</span></p>
<p lang="en">If you subscribed to our newsletter, you can also unsubscribe by clicking the correspondent button on our emails. </p>
<p lang="en">For information on how our advertising partners allow you to opt out of receiving ads based on your web browsing history, please visit: http://optout.aboutads.info/. </p>
<h5 id="calibre_link-13" lang="en">Links to Other Websites</h5>
<p lang="en">Our platform and Game may, contain links to and from the Platforms of advertisers and affiliates, from time to time. The fact that Verse Surf links to a platform and Game is not an endorsement, authorization or representation of Verse Surf affiliation with that third party. Verse Surf does not exercise control over third party platform and Games. These platform and Games may place their own cookies or other files on the User’s device. If you follow a link to any of these third-party platform and Games, you do so at his own risk, and you are bound to submit to their own privacy policies. Under such circumstances, you waive any claim against Verse Surf for any responsibility or liability for these policies.</p>
<h5 lang="en" id="calibre_link-14">Personal Data Breaches</h5>
<p lang="en">We will notify the relevant Personal Data Breaches to competent authorities and/or affected Data Subjects as soon as possible after we become aware of any Personal Data Breach affecting any Personal Data. </p>
<h5 lang="en" id="calibre_link-15">Data Subject Requests</h5>
<p lang="en">In case Data Subjects are seeking to exercise their rights under any data protection law with respect to Personal Data (including access, rectification, restriction, deletion or portability of Personal Data, as applicable), we have implemented all the technical measures to respond to such request legally and in a timely manner. If such request is made directly to a sub-processor, it will promptly inform Controller and will advise Data Subjects to submit their request to the Controller. The controller shall be solely responsible for responding to any Data Subjects’ requests. The controller shall reimburse sub-processor for any potential costs arising from this assistance.</p>
<h5 id="calibre_link-16" lang="en">Privacy of Minors</h5>
<p lang="en">Given the nature of our business, we do not collect information from Users under the age of 13 only with parental consent. </p>
<p lang="en">In case we find out that we have collected personal information from a person under 13 years of age without parental consent, we will make sure to delete the information immediately. If you believe we have any information about a child under the age of 13, without parental consent, please contact us.</p>
<h5 id="calibre_link-17" lang="en">Cookies and Tracking Technologies</h5>
<p lang="en"><span>We use cookies technologies in order to improve your experience while visiting our platform and Game.  Wherever the case, we use a cookie control system (Cookie Popup Message) allowing you on your first visit to the platform and Game to permit or block the use of certain cookies categories on your device. This Cookie Popup Message complies with all the recent legislation updated requirements in order to obtain explicit consent.</span></p>
<p lang="en">The majority of cookies contain a cookie ID, which basically represents a unique identifier of the cookie. Navigating without the use of certain cookies is impossible. The single purpose of the basic cookies is for Verse Surf to provide your visiting the platform and Game or using our services with a more user-friendly experience. This would not be possible without the use of a certain cookie setting, but those cookies do not render you as an identifiable person, when navigating on our platform and Game.</p>
<p lang="en">By using cookies, we are also able to provide you with optimized information and offers. Certain cookie categories allow us to recognize our platform and Game’s Visitors and Users. The purpose is to make it easier for Data Subjects to use our platform and Game, e.g. they do not have to enter access data each time the platform and Game is accessed. Such cookies are stored locally, on the Data Subject's computer system. </p>
<p lang="en"><span>You can also, at any time, instruct your browser, by accessing its settings and changing its options, to stop accepting cookies or to prompt you before accepting a cookie from our platform and Games.  Warning: if you do not accept cookies, you may not be able to use our platform and Game correctly and at its full potential.</span></p>
<p lang="en">Strictly necessary cookies</p>
<p lang="en">These are the essential cookies. They enable you to move around the platform and Game and use its features. Without these cookies you do not have the possibility to use a whole series of services, such as account creation, etc.</p>
<p lang="en">Product cookies </p>
<p lang="en">These cookies help us make our platform and Game work as efficiently as possible. Usually such cookies remember your login details, your settings, your preferences and they also serve the purpose of administering your subscription.</p>
<p lang="en">Performance cookies</p>
<p lang="en">These are statistical cookies, and they collect information about your behavior on the platform and Game, for example, which pages you go to most often. As previously stated, these cookies do not gather the information that lead to your identification. All information these cookies collect is anonymous and their purpose is to improve how our platform and Game works.</p>
<p lang="en">Analytics and Functionality cookies </p>
<p lang="en">This type of cookies anonymously remembers your device type (computer, mobile, etc.) or the choices you make (username, language, or the region you are in) when you visit our platform and Game. These cookies can also be used to remember changes you have made to text size, font and other parts of pages. They keep track of browsing patterns and build up a profile based on which we may target advertisements to you, if you accepted the receival of our promotional newsletter.</p>
<p lang="en">Targeting cookies</p>
<p lang="en">Obviously, these cookies are used to deliver advertisements that are more relevant to you and your interests, if you accepted our newsletter and promotions. They also have a functional side, regarding their capability to limit the number of times you see an advertisement as well as help measure the effectiveness of an advertising campaign.</p>
<p lang="en">Third party cookies</p>
<p lang="en">In the event you will come across such cookies when navigating on our platform and Game, these are advertising and analytics cookies placed by, or on behalf of, independent advertisers who are advertising on our site. Such cookies are anonymous, so they cannot identify individuals. They are used for statistical analysis by allowing the advertiser to count how many people have seen their advertisement or have seen it more than once. </p>
<p lang="en">Disabling Cookies</p>
<p lang="en">If you would like to restrict the use of cookies you can control this in your Internet browser. You can disable cookies by adjusting the settings on your browser of choice. </p>
<h5 lang="en" id="calibre_link-18">Data Processor</h5>
<p lang="en">We may use, when necessary, third-party data Processors in order to process your information on our behalf. Such Processors may be:</p>
<ul>
    <li><b lang="en">Service Providers -</b><span lang="en"> we may collaborate with companies and individuals to facilitate our Services, to perform service-related services. These third parties may be permitted access to your personal data only to perform these tasks on our behalf. We have taken all the legal steps in order to ensure they will not disclose or use your personal data for any other purpose.</span></li>
    <li><b lang="en">Communications -</b><span lang="en"> We may use your personal data to contact you with newsletters, marketing or promotional materials.</span></li>
    <li><b lang="en">Payment Provider -</b><span lang="en"> We will use third-party payment providers which will processes all payments you may make to us by collecting any relevant data directly from you. We do not store such data.</span></li>
</ul>
<h5 lang="en" id="calibre_link-19">Data Quality</h5>
<p lang="en">Generally, it is in your legal obligation to keeping your personal data accurate and up to date.</p>
<h5 lang="en" id="calibre_link-20">Data Security</h5>
<p><span lang="en">We have taken all the reasonable steps to keep your personal data secure and encrypted at all times, in accordance with the legal obligations. We have also taken the measures to protect your personal data from unauthorized access, misuse, modification, loss or disclosure.</span><span> </span><span lang="en">While we will endeavor to take all reasonable and appropriate steps to keep secure any information which we hold about you and prevent unauthorized access, you acknowledge that the internet is not 100% secure and that we cannot provide any absolute assurance regarding the security of your personal information. We will not be liable in any way in relation to any breach of security or unintended loss or disclosure of information due to the platform and Game being linked to the internet.</span></p>
<h5 lang="en" id="calibre_link-21">Opting out from Communications</h5>
<p lang="en">If you receive emails from us, you may unsubscribe at any time by following the instructions contained within the email or by sending an email. Please note that you may still receive important administrative messages from us regarding our services. </p>
<h5 lang="en" id="calibre_link-22">Sensitive Information</h5>
<p lang="en">We do not collect information that is considered sensitive from a legal stand point.</p>
<h5 lang="en" id="calibre_link-23">Authorization</h5>
<p lang="en">You hereby authorize us to exchange and share all personal and non-personal data, across borders and from your country and jurisdiction to any other countries and jurisdictions across the world, with any agent/third party service provider, as may be required to provide Services to you or as may be required by law, and shall not hold us liable for use or disclosure of this information.</p>
<h5 lang="en" id="calibre_link-24">Your rights</h5>
<p lang="en">This is a list of your legal rights pertaining to your personal data. </p>
<p lang="en">Your principal rights under data protection law are:</p>
<div>
    <div><span>a)&nbsp;</span><span><span lang="en">the right to access;</span></span></div>
    <div><span>b)&nbsp;</span><span><span lang="en">the right to rectification;</span></span></div>
    <div><span>c)&nbsp;</span><span><span lang="en">the right to erasure;</span></span></div>
    <div><span>d)&nbsp;</span><span><span lang="en">the right to restrict processing;</span></span></div>
    <div><span>e)&nbsp;</span><span><span lang="en">the right to object to processing;</span></span></div>
    <div><span>f)&nbsp;</span><span><span lang="en">the right to data portability;</span></span></div>
    <div><span>g)&nbsp;</span><span><span lang="en">the right to complain to a supervisory authority; and</span></span></div>
    <div><span>h)&nbsp;</span><span><span lang="en">the right to withdraw consent.</span></span></div>
</div>
<p><b lang="en">a)</b><span lang="en"> You have the right to confirmation as to whether or not we process your personal data. In case we do, you have access to your personal data, and also certain additional information. Additional information includes: details of the purposes of the processing, categories of personal data collected and eventual recipients of your personal data. We are able to supply you, upon request, with a copy of your personal data. </span></p>
<p><b lang="en">b)</b><span lang="en"> You have the right update or rectify your personal data, and also to have any incomplete personal data about you completed.</span></p>
<p><b lang="en">c)</b><span lang="en"> Under certain circumstances, you have the right to request the erasure of your personal data. Such circumstances include: the personal data is no longer necessary to be stored by us, you withdraw your consent to processing, etc. However, there are exceptions to the right to erasure, such as: for compliance with the law, or for the exercise or defense of legal claims.</span></p>
<p><b lang="en">d)</b><span lang="en"> In some circumstances, you have the right to restrict the processing of your personal data. For example: you contest the accuracy of the personal data, you consider that the processing is unlawful, etc. In case processing has been restricted on this basis, we may continue to store your personal data, anyway, but we may not process it without your express consent, or for the exercise or defense of legal claims, or for reasons of important public interest.</span></p>
<p><b lang="en">e)</b><span lang="en"> You have the right to object to our processing of your personal data to the extent that the legal basis for the processing is that the processing is necessary for the performance of a task carried out in the public interest, or the purposes of a legitimate interest. If the objection is grounded, we will cease to process the personal information unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights, and freedoms.</span></p>
<p><b lang="en">f)</b><span lang="en"> You have the right to transfer your personal data from us (as controller) to another organization, in the context of digital personal data and automated processing. This right is complementary to the right of access, stated at letter </span><b lang="en">a)</b><span lang="en">.</span></p>
<p><b lang="en">g)</b><span lang="en"> If you consider that processing of your personal data infringes on any of your right or the data protection laws, you have a legal right to lodge a complaint with a supervisory authority. You may do so in the EU member state of your habitual residence, your place of work or the place of the alleged infringement.</span></p>
<p><b lang="en">h)</b><span lang="en"> Provided that the legal basis for our processing of your personal data is consent, you have the right, at any time, to withdraw your consent. It should be noted, though, that withdrawal of consent will not affect the lawfulness of data processing before the withdrawal.</span></p>
<h5 lang="en" id="calibre_link-25">US Privacy Rights</h5>
<p lang="en">For US resident we have decided to relate to the most advanced piece of legislation, which is California Consumer Privacy Act of 2018 (“CCPA”), effective January 1, 2020. Under the circumstance, in addition to the rights already provided for above, in case you are a US resident or citizen, you have the right to request information regarding whether we share certain categories of your personal data with third parties, for the third parties' direct marketing purposes. If it is the case, you may receive the following information:</p>
<div>
    <div><span>a)&nbsp;</span><span><span lang="en">the categories of information we disclosed to third parties for the third parties' direct marketing purposes during the preceding calendar year; and</span></span></div>
    <div><span>b)&nbsp;</span><span><span lang="en">the names and addresses of third parties that received such information, or if the nature of their business cannot be determined from the name, then examples of the products or services marketed.</span></span></div>
</div>
<p lang="en">US residents have certain rights in relation to their personal information, subject to limited exceptions, as follows:</p>
<ul>
    <li><span lang="en">Verse Surf will not discriminate against those who exercise their rights. Specifically, upon any exercise of your rights, we hereby state that we will not deny you services, we will not charge you different prices for our services and we will not provide you a different level or quality of services.</span></li>
    <li><span lang="en">To the extent we sell your personal data to third party collaborators, you have the right to request information about: </span><b lang="en">(i)</b><span lang="en"> the categories of your personal data that we sold, and </span><b lang="en">(ii) </b><span lang="en">the categories of third parties to whom your personal data was sold. You have the right to restrict us from selling your personal data. Even so, Verse Surf does not sell your personal data in its ordinary course of business, and undertakes to never sell your personal data without your explicit and prior consent.</span></li>
    <li><span lang="en">You may designate an authorized agent to make request to access or delete on your behalf. We will only respond to your authorized agent's request if they submit proof that they are registered to be able to act on your behalf, or submit evidence you have provided them with power of attorney. We will deny any requests from authorized agents who do not submit such proof, or who are unable to verify their identity.</span></li>
</ul>
<p id="calibre_link-26" lang="en">You can exercise your rights by contacting us via email.</p>
<h5 lang="en" id="calibre_link-27">Complaints Resolution</h5>
<p lang="en">We are committed to providing you with a fair and responsive system for handling and resolving complaints remitted directly to us. Your complaint will be handled efficiently. Any time you wish to lodge a complaint in respect of the handling, use or disclosure of your personal information by us, you may do so by contacting us at:</p>
<p>verse.surf@shopsoft.org</p>
<h5 lang="en" id="calibre_link-28">Amendments</h5>
<p lang="en">We may update this Privacy Policy from time to time by publishing the updated version (or the updated section) on our platform and Game. We kindly request you to check this page occasionally, in order to ensure you agree with any changes and updates.</p>
<p></p>